 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/DALLE2024-05-1609.17.18-Agradientimageforawebsiteapplicationwithnavybluetransitioningtowhite.Thegradientshouldbesmoothandvisuallyappealingstartingwith.webp');
  background-position: 50% 50%;
  background-size: auto 145%;
}

.u-section-1 .u-sheet-1 {
  min-height: 883px;
}

.u-section-1 .u-group-1 {
  width: 566px;
  min-height: 683px;
  background-image: none;
  height: auto;
  margin: 100px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 20px 27px;
}

.u-section-1 .u-icon-1 {
  width: 108px;
  height: 108px;
  background-image: none;
  margin: -34px auto 0;
  padding: 22px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 31px auto 0;
}

.u-section-1 .u-form-1 {
  height: 351px;
  width: 442px;
  margin: 27px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: -19px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
  }

  .u-section-1 .u-form-group-1 {
    height: 351px;
    margin-top: -7px;
    margin-right: 42px;
    margin-bottom: -334px;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 39px;
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 0;
    margin-left: 0;
  }
}